@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <p><img src="http://www.mybusiness-volvotrucks.fr/wp-content/uploads/2016/12/T2013_0628-1120x280.jpg" /></p>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Bienvenue sur My Buisness VTC Ouest. Vous retrouverez dans l'onglet "Camions" les véhicules PAP.
                    Vous pouvez Ajouter, Modifier, Supprimer à volonté.
                    Le site Web est en développement, merci de votre compréhension.
                </p>
                <p>
                    Vous pouvez toujours vous dirigez vers le site My Buiness en suivant le lien :
                </p>
                <a href="http://mybusiness-volvotrucks.fr/vehicules-disponibles/" class="stretched-link">Voir l'original</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Les technologies employées sont :
                </p>
                <p>.NET CORE 3.0</p>
                <p>Entity Framework CORE</p>
                <p>Développé sous Visual Studio 2019</p>
                <a href="https://docs.microsoft.com/fr-fr/aspnet/core/data/ef-rp/intro?view=aspnetcore-3.0&tabs=visual-studio" class="stretched-link">Voir les détails du projet</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Vous pouvez aussi télécharger le projet sur GitHub.
                </p>
                <a href="https://github.com/paulfazilleau/MyBuisnessVTFCO" class="stretched-link">Voir le code source du projet</a>
            </div>
        </div>
    </div>
</div>